@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    width: 100vw;
    height: 80px;
    background-color: #cdc9c9;
    display: flex;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    padding:31px 20px;
    text-decoration: none;
    color:#ED3136 ;
}